* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Raleway", sans-serif;
}

.list {
  list-style-type: none;
  font-size: 1.6rem;
  color: white;
}

.item {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 1rem;
}

.item:hover {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  background-position: right center;
}
